<div id="squares-container">
  <% for i in 0..9 do %>
    <div class="square">
      <div class="card-cell">
        <div class="table">
          <div class="table-cell">
            Sample CONTENT
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>