<button id="current-deck">Select a Deck</button>
<!-- <div id="current-deck"></div> -->
<!-- <button id="edit-deck-button">Edit</button> -->
<button id="delete-deck-button" class="hidden">Delete Deck</button>