<a href="#tri-card-modal">[Card Name]</a>
<div id="tri-card-modal" class="modal-dialog">
  <div id="tri-card-container">
    <div class="square">
      <div class="card-cell">
        <div class="table">
          <div id="build-card" class="tri-card-mid table-cell">
            Middle Card: name, slash
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
