<a href="#tri-card-modal">[Card Name]</a>
<div id="tri-card-modal" class="modal-dialog">
  <div id="tri-card-container">
    <a href="#close-modal" id="close-tri-modal" class="close-modal">X</a>

    <div class="square">
      <div class="card-cell">
        <div class="table">
          <div id="tri-card-left" class="table-cell">
            <div class="tri-card-name">Left Q</div>
            <input type="text" name="input-left" class="tri-card-input">
            <button class="toggle-answer">Show Answer</button>
            <div class="card-answer">Left A</div>
          </div>
        </div>
      </div>
    </div>

    <div class="square">
      <div class="card-cell">
        <div class="table">
          <div id="tri-card-mid" class="table-cell">
            <div class="tri-card-name">Card Name</div>
            <button class="slash-button">Slash</button>
          </div>
        </div>
      </div>
    </div>

    <div class="square">
      <div class="card-cell">
        <div class="table">
          <div id="tri-card-right" class="table-cell">
            <div class="tri-card-name">Right Q</div>
            <input type="text" name="input-right" class="tri-card-input">
            <button class="toggle-answer">Show Answer</button>
            <div class="card-answer">Right A</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
