<a href="#tri-card-modal">[Card Name]</a>
<div id="tri-card-modal" class="modal-dialog">
  <div id="tri-card-container">
    <a href="#close-modal" id="close-tri-modal" class="close-modal">X</a>

    <div class="square">
      <div class="card-cell">
        <div class="table">
          <div id="tri-card-left" class="table-cell">
            [left side], textarea, toggle-answer
          </div>
        </div>
      </div>
    </div>

    <div class="square">
      <div class="card-cell">
        <div class="table">
          <div id="tri-card-mid" class="table-cell">
            Middle Card: name, slash
          </div>
        </div>
      </div>
    </div>

    <div class="square">
      <div class="card-cell">
        <div class="table">
          <div id="tri-card-right" class="table-cell">
            [right side], textarea, toggle-answer
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
