<div id="header" class="container">
  Welcome to Tricards
  <div>
    Select a Deck
  </div>
</div>

<div id="sidebar" class="container">
  <div class="sidebar-item">
    <button id="new-deck-button">New Deck</button>
    <a href="#new-deck-modal">New Deck</a>
    <div id="new-deck-modal" class="modal-dialog">
      <div>
        <a href="#close-modal" title="Close" class="close-modal">X</a>
        <h2>Modal Box (example)</h2>
        <p>Enter new deck name</p>
      </div>
    </div>


  </div>
  <% Deck.all.each do |d| %>
    <div class="sidebar-item">
      <%= d.name %>
      Deck Options
    </div>
  <% end %>
</div>

<div id="main-content" class="container">
  <div class="card">
    Card name
  </div>
</div>