<div id="header" class="container">
  Welcome to Tricards
  <div>
    <button id="sidebar-trigger">Select a Deck</button>
    <%= render 'add_card_modal' %>
  </div>
</div>

<div id="sidebar" class="hidden container">
  <%= render 'new_deck_modal' %>
  <%= render 'deck_list' %>
</div>

<%= render 'card_squares' %>