<div id="header" class="container">
  Welcome to Tricards
  <div>
    Select a Deck
  </div>
</div>

<div id="sidebar" class="container">
  <%= render 'new_deck_modal' %>
  <%= render 'deck_list' %>
</div>

<div id="main-content" class="container">
  <div id="cards">
  </div>
</div>