<div class="header">
  Welcome to Tricards
  <div>
    Select a Deck
  </div>
</div>

<div class="sidebar">
  <div class="sidebar-item">
    <button class="new-deck-button">New Deck</button>
  </div>
  <% Deck.all.each do |d| %>
    <div class="sidebar-item">
      <%= d.name %>
      Deck Options
    </div>
  <% end %>
</div>

<div class="main-content">
  <div class="card">
    Card name
  </div>
</div>