<script type="text/javascript">Dash.start();</script>
<div id="header" class="container">
  Welcome to Tricards
  <div>
    Select a Deck
  </div>
</div>

<div id="sidebar" class="container">
  <div class="sidebar-item">
    <button id="new-deck-button">New Deck</button>
  </div>
  <% Deck.all.each do |d| %>
    <div class="sidebar-item">
      <%= d.name %>
      Deck Options
    </div>
  <% end %>
</div>

<div id="main-content" class="container">
  <div class="card">
    Card name
  </div>
</div>