<div class="header">
  Welcome to Tricards
  <div>
    Select a Deck
  </div>
</div>

<div class="sidebar">
  <div class="sidebar-item">
    + New Deck
  </div>
  <div class="sidebar-item">
    [Deck info]
  </div>
  <div class="sidebar-item">
    Deck Options
  </div>
</div>

<div class="card-space">
  <div class="card">
    Card name
  </div>
</div>