<div id="header" class="container">
  Welcome to Tricards
  <div>
    Select a Deck
  </div>
</div>

<div id="sidebar" class="container">
  <%= render 'new_deck_modal' %>
  <div id="all-decks">
    <% Deck.all.each do |d| %>
      <button class="select-deck" name="<%= d.id %>"><%= d.name %></button>
    <% end %>
  </div>
</div>

<div id="main-content" class="container">
  <div id="cards">
  </div>
</div>