<div id="header" class="container">
  Welcome to Tricards
  <div>
    Select a Deck
  </div>
</div>
<!-- 
<div id="sidebar" class="container">
  <%= render 'new_deck_modal' %>
  <%= render 'deck_list' %>
</div> -->
<!-- 
<div id="main-content" class="container">
  <div id="all-cards">
    <div id="current-deck"></div>
    <%= render 'add_card_modal' %>
    <%= render 'card_table' %>
  </div>
</div> -->

<div id="squares-container">
  <% for i in 0..9 do %>
    <div class="square">
      <div class="card-cell">
        <div class="table">
          <div class="table-cell">
            CONTENT
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>