// Panel sizing
$header-height: 20%;
$sidebar-width: 10%;

// Colors
$white: #fff;
$cold-gray: #999;
$dark-gray: #606061;
$baby-blue: 00d9ff;

@mixin gradient($top, $bottom) {
    background: $top;
    background: -moz-linear-gradient($top, $bottom);
    background: -webkit-linear-gradient($top, $bottom);
    background: -o-linear-gradient($top, $bottom);
}

// Card Squares
$sq-wd: 30%;
$sq-ht: 30%;