// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#squares-container {
    top: $header-height + $gen-margin;
    position: relative;
    z-index: 0;
}

.square {
    float: left;
    position: relative;
    overflow: hidden;
    width: $sq-wd;
    padding-bottom: $sq-ht;
    margin: 1.66%;
    background-color: black;
    border-radius: .15 * $sq-wd;
}

.card-cell {
    position: absolute;
    height: 98%;
    width: 98%;
    padding: 0;
    background-color: lightgreen;
    text-align: center;
    border-radius: .15 * $sq-wd;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.card-name {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}