// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

// Main Card Squares

#squares-container {
    top: $header-height;
    position: relative;
    z-index: 0;
    width: 90%;
    margin: 5%;
}

.square {
    float: left;
    position: relative;
    overflow: hidden;
    width: $sq-wd;
    padding-bottom: $sq-ht;
    margin: calc(1.66% - 5px);
    background-color: black;
    border-radius: .15 * $sq-wd;
}

.card-cell {
    position: absolute;
    height: 98%;
    width: 98%;
    padding: 0;
    background-color: lightgreen;
    text-align: center;
    border-radius: .15 * $sq-wd;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.card-name {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    z-index: 4;
    font-size: 1em;
}

.edit-card-button {
    position: absolute;
    z-index: 6;
    top: 10%;
    right: 5%;
}

.delete-card-button {
    position: absolute;
    z-index: 6;
    top: 20%;
    right: 5%;
}

.slash-button {
    position: absolute;
    z-index: 6;
    top: 60%;
    left: 40%;
}