@import "variables";

// General Styles

body {
    font-family: 'Lora', serif;
    font-size: 36px;
    background: lightgray;
}

// Containers

.container {
    padding: .25em;
    margin-bottom: .25em;
    border-bottom: .1em solid black;
    background-color: green;
    opacity: .8;
}

.container:hover {
    opacity: 1;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    z-index: 2;
}

.hidden {
    visibility: hidden;
    display: none;
}

// Modal Behaviors

.modal-dialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-dialog:target {
    opacity:1;
    pointer-events: auto;
}

.modal-dialog .reg-modal {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    @include gradient($white, $cold-gray);
}

.close-modal {
    background: $dark-gray;
    color: $white;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close-modal:hover { background: $baby-blue; }