@import "variables";

.select-deck > button {
    width: 100%;
}

#sidebar {
    position: fixed;
    top: $header-height + 5%;
    left: 0;
    bottom: 0;
    width: $sidebar-width;

    // new
    z-index: 4;
}