@import "variables";

@keyframes sidebar-in {
    0% {opacity: 0;}
    100% {opacity: 0.8;}   
}

#sidebar {
    position: fixed;
    top: $header-height + $gen-margin;
    left: 0;
    bottom: 0;
    width: $sidebar-width;

    // new
    z-index: 4;
}

.sidebar-off {
    animation: sidebar-in 1s linear .01s 1 reverse;
    animation-fill-mode: forwards;    
}

.sidebar-on {
    animation: sidebar-in 1s linear .01s 1 normal;
    animation-fill-mode: forwards;
}